@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card {
  background-color: rgb(190, 170, 255);
  color: rgb(48, 41, 41);
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}
